@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recipes</title>
	<link href="~/css/stylesheet.css" rel="stylesheet" />
</head>
<body>

	<!--
    main index for my recipes:
    -->
	<!--header with homepage link, add recipes, search recipes-->
	<header>
		<h1>
			<a href="#">Recipes</a>
		</h1>
		<nav>
			<a href="./">Add</a>
			<a href="./">Edit</a>
			<a href="./">Search</a>
		</nav>
	</header>

	<!--table with mock recipes-->
	<main>
		<table>
			<thead>
				<tr>
					<th>Recipe Name</th>
					<th>Properties</th>
					<th>Rating</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="/Home/recipe_template">Item</a></td>
					<td>Item</td>
					<td>Item</td>
				</tr>
			</tbody>
		</table>
	</main>
</body>
</html>